<!DOCTYPE html>
<html>
  <head>
    <title>Id</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/picnicss/6.1.1/picnic.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
	<%= render 'layouts/navigation' %> 
	<section class="main"> 
	  <%= yield %> 
	</section> 
  </body>

</html>
